body{
    background-color: #EDF3F8;
}

*{
    font-family: "Public Sans", serif;
}

nav{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-top: 40px;
}


.logo{
    margin-right: 24px;
}

ul a {
    text-decoration: none;
    color: #36536B;
    font-weight: 700;
    opacity: 70%;
}

nav ul{
    display: none;
    list-style: none;
    padding: 0;
}

.nav-cta{
    text-decoration: none;
    font-weight: 700;
    opacity: 70%;
    background-color: #BA4270;
    padding: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 24px;
    color: white;
    align-self: flex-end;
    opacity: 100%;
    display: none;
}

.main-cta{
    text-decoration: none;
    font-weight: 700;
    opacity: 70%;
    background-color: #BA4270;
    padding: 16px;
    border-radius: 24px;
    color: white;
    align-self: flex-end;
    opacity: 100%;
    display: inline-block;
    width: 100%;
    font-size: 15px;
}



.hero {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


h1{
    font-size: 32px;
    font-family: "DM Serif Display", serif;
    color: #36536B;
}

form input{
    width: 100%;
    height: 48px;
    border-radius: 24px;
    border: 24px;
    margin-bottom: 16px;
    padding-left: 27px;
}

.hero-image {
    margin: auto;
    max-width: 100%; 
    height: auto; 
}


.main-title p{
    color: #6C8294;
}

.main-title p a{
    font-weight: 900;
    color: #6C8294;
    text-decoration: none;
}

form{
    margin-bottom: 24px;
}


@media screen and (min-width: 768px){
    nav ul{
        display: inline;
    }
    nav li{
        display: inline;
        margin-right: 40px;        
    }
    nav{
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    .burger-btn, .close-btn{
        display: none;
    }

    .nav-cta {
        display: initial;
    }

    h1{
        font-size: 48px;
    }

    form{
        display: flex;
        align-items: center;
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    form input {
        width: 100%;
        margin-bottom: 0;
    }

    .main-cta{
        position: absolute;
        width: unset;
        right: 2px;
        top: 50%;
        transform: translateY(-50%);
    }
}


@media screen and (min-width: 1024px) {
   nav{
    max-width: 1100px;
    justify-content: unset;
   }

   .nav-cta {
    margin-left: auto;
   }

   form {
        margin-left: 0;
        margin-right: 0;
   }

   .hero{
        max-width: 1100px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        text-align: left;
   }
}